<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вопрос</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="card border-light">
        <div class="card-header bg-transparent">
            <div class="row justify-content-between">
                <div class="col">
                    <h3 class="h3 font-weight-normal">Что будет, если связку урановых ломов кинуть в ртуть?</h3>
                </div>
                <div class="col-2 text-right">
                    <a class="btn btn-primary" href="#" role="button"><small>Спросить</small></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><small>Создано</small> <small class="text-muted">сегодня</small>
                        <small>Изменено</small> <small class="text-muted">сегодня</small>
                        <small>Просмотрено</small> <small class="text-muted">34 раза</small></p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col- text-center">
                    <div>
                        <button class="btn btn-secondary btn-light">
                            <svg aria-hidden="true"
                                 class="svg-icon iconArrowUpLg"
                                 width="20"
                                 height="20"
                                 viewBox="0 0 36 36">
                                <path d="M2 25h32L18 9 2 25Z"/>
                            </svg>
                        </button>
                    </div>
                    <div>0</div>
                    <div>
                        <button class="btn btn-secondary btn-light">
                            <svg aria-hidden="true"
                                 class="svg-icon iconArrowDownLg"
                                 width="20"
                                 height="20"
                                 viewBox="0 0 36 36">
                                <path d="M2 11h32L18 27 2 11Z"/>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-secondary btn-light">
                            <svg aria-hidden="true"
                                 class="fc-theme-primary-500 js-saves-btn-selected d-none svg-icon iconBookmark"
                                 width="18"
                                 height="18"
                                 viewBox="0 0 18 18">
                                <path d="M3 17V3c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v14l-6-4-6 4Z"/>
                            </svg>
                            <svg aria-hidden="true"
                                 class="js-saves-btn-unselected svg-icon iconBookmarkAlt"
                                 width="18"
                                 height="18"
                                 viewBox="0 0 18 18">
                                <path d="m9 10.6 4 2.66V3H5v10.26l4-2.66ZM3 17V3c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v14l-6-4-6 4Z"/>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <a class="js-post-issue flex--item s-btn s-btn__unset c-pointer py6 mx-auto"
                           href="#"
                           data-shortcut="T"
                           data-ks-title="timeline"
                           data-controller="s-tooltip"
                           data-s-tooltip-placement="right"
                           title="Show activity on this post."
                           aria-label="Timeline">
                            <svg aria-hidden="true"
                                 class="mln2 mr0 svg-icon iconHistory"
                                 width="19"
                                 height="18"
                                 viewBox="0 0 19 18">
                                <path d="M3 9a8 8 0 1 1 3.73 6.77L8.2 14.3A6 6 0 1 0 5 9l3.01-.01-4 4-4-4h3L3 9Zm7-4h1.01L11 9.36l3.22 2.1-.6.93L10 10V5Z"/>
                            </svg>
                        </a>

                    </div>
                </div>
                <div class="col">
                    <div>
                        <p>
                            Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос
                            вопрос. Вопрос вопрос вопрос вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос.
                            Вопрос вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос вопрос вопрос вопрос. Вопрос
                            вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос. Вопрос
                            вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос.
                            Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос
                            вопрос. Вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос вопрос вопрос. Вопрос. Вопрос
                            вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос вопрос. Вопрос вопрос
                            вопрос вопрос.Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос
                            вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос
                            вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос
                            вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос
                            вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос
                            вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос вопрос. Вопрос вопрос вопрос
                            вопрос.
                        </p>
                    </div>
                    <div class="p-3">
                        <a class="badge badge-primary" href="#">Ртуть</a>
                        <a class="badge badge-primary" href="#">Лом</a>
                        <a class="badge badge-primary" href="#">Уран</a>
                    </div>
                    <div class="row p-3">
                        <div class="col">
                            <a class="text-muted text-decoration-none" href="#"><small>Share</small></a>
                            <a class="text-muted text-decoration-none" href="#"><small>Follow</small></a>
                        </div>
                        <div class="col-3 alert-warning text-left p-2">
                            <h6><small class="text-muted">Спросил 2 часа назад</small></h6>
                            <div class="row">
                                <div class="col-3 m-0">
                                    <img src="/images/default_avatar.jpg" class="img-thumbnails" width="35"
                                         height="35" alt="user">
                                </div>
                                <div class="col p-1 line-height">
                                    <a class="text-decoration-none" href="#"><small>User</small></a>
                                    <div><small>1234</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3">
                        <a class="text-muted text-decoration-none" href="#"><small>Добавить комментарий</small></a>
                    </div>
                    <div class="row pl-0 pt-3 pb-3">
                        <div class="col p-0"><h2 class="h3 font-weight-normal"> 1 Oтвет</h2></div>
                        <div class="col">
                            <div class="row text-right">
                                <div class="col p-0">
                                    <label for="select" class="text-muted"><small>Сортировать: </small></label>
                                </div>
                                <div class="col">
                                    <select class="form-control form-control-sm" id="select">
                                        <option>Без сортировки</option>
                                        <option>Сортировка по дате</option>
                                        <option>Сортировка по отзывам</option>
                                        <option>Сортировка по алфавиту</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-between p-0">
                        <div class="col- text-center">
                            <div>
                                <button class="btn btn-secondary btn-light">
                                    <svg aria-hidden="true"
                                         class="svg-icon iconArrowUpLg"
                                         width="20"
                                         height="20"
                                         viewBox="0 0 36 36">
                                        <path d="M2 25h32L18 9 2 25Z"/>
                                    </svg>
                                </button>
                            </div>
                            <div>0</div>
                            <div>
                                <button class="btn btn-secondary btn-light">
                                    <svg aria-hidden="true"
                                         class="svg-icon iconArrowDownLg"
                                         width="20"
                                         height="20"
                                         viewBox="0 0 36 36">
                                        <path d="M2 11h32L18 27 2 11Z"/>
                                    </svg>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn-secondary btn-light">
                                    <svg aria-hidden="true"
                                         class="fc-theme-primary-500 js-saves-btn-selected d-none svg-icon iconBookmark"
                                         width="18"
                                         height="18"
                                         viewBox="0 0 18 18">
                                        <path d="M3 17V3c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v14l-6-4-6 4Z"/>
                                    </svg>
                                    <svg aria-hidden="true"
                                         class="js-saves-btn-unselected svg-icon iconBookmarkAlt"
                                         width="18"
                                         height="18"
                                         viewBox="0 0 18 18">
                                        <path d="m9 10.6 4 2.66V3H5v10.26l4-2.66ZM3 17V3c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v14l-6-4-6 4Z"/>
                                    </svg>
                                </button>
                            </div>
                            <div>
                                <a class="js-post-issue flex--item s-btn s-btn__unset c-pointer py6 mx-auto"
                                   href="#"
                                   data-shortcut="T"
                                   data-ks-title="timeline"
                                   data-controller="s-tooltip"
                                   data-s-tooltip-placement="right"
                                   title="Show activity on this post."
                                   aria-label="Timeline">
                                    <svg aria-hidden="true"
                                         class="mln2 mr0 svg-icon iconHistory"
                                         width="19"
                                         height="18"
                                         viewBox="0 0 19 18">
                                        <path d="M3 9a8 8 0 1 1 3.73 6.77L8.2 14.3A6 6 0 1 0 5 9l3.01-.01-4 4-4-4h3L3 9Zm7-4h1.01L11 9.36l3.22 2.1-.6.93L10 10V5Z"/>
                                    </svg>
                                </a>

                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <p>
                                    Ответ ответ ответ. Ответ ответ ответ. Ответ ответ ответ. Ответ ответ ответ.Ответ
                                    ответ ответ. Ответ ответ ответ.Ответ ответ ответ. Ответ ответ ответ.Ответ ответ
                                    ответ. Ответ ответ ответ.Ответ ответ ответ. Ответ ответ ответ.Ответ ответ ответ.
                                    Ответ ответ ответ.
                                </p>
                            </div>
                            <div class="row p-3">
                                <div class="col">
                                    <a class="text-muted text-decoration-none" href="#"><small>Share</small></a>
                                    <a class="text-muted text-decoration-none" href="#"><small>Follow</small></a>
                                </div>
                                <div class="col-3 alert-warning text-left p-2">
                                    <h6><small class="text-muted">Спросил 2 часа назад</small></h6>
                                    <div class="row">
                                        <div class="col-3 m-0">
                                            <img src="/images/default_avatar.jpg" class="img-thumbnails"
                                                 width="35" height="35" alt="user">
                                        </div>
                                        <div class="col p-1 line-height">
                                            <a class="text-decoration-none" href="#"><small>User</small></a>
                                            <div><small>1234</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col">
                                    <a class="text-muted text-decoration-none" href="#"><small>Добавить
                                        комментарий</small></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-3 alert-warning">
                    <p>The Overflow Blog</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>
</html>