<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e7b4f60997.js" crossorigin="anonymous"></script>
    <title>Участники</title>
</head>

<body>
<div class="page-container">
    <div class="page-header"></div>
    <div class="content">
        <div class="page-sidebar"></div>
        <div class="container-fluid">
            <div class="row">
                <h1 class="d-flex p-2 bd-highlight">Пользователи</h1>
            </div>
            <div class="d-sm-flex justify-content-between">
                <div class="navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Поиск" aria-label="Поиск"
                               aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Поиск</button>
                        </div>
                    </div>
                </div>
                <div class="navbar-right">
                    <div class="ui-button">
                        <a class="btn btn-primary" href="#" role="button">Репутация</a>
                        <a class="btn btn-secondary" href="#" role="button">Новые пользователи</a>
                        <a class="btn btn-primary" href="#" role="button">Редакторы</a>
                        <a class="btn btn-secondary" href="#" role="button">Модераторы</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="d-flex jc-space-between">
                <div class="flex--item ml-auto md:ml0">
                    <div id="tabs-interval" class="subtabs">
                        <a class="js-sort" href="#" data-nav-xhref="" title="2000-01-01 to today" data-value="all"
                           data-shortcut="">
                            все</a>
                        <a class="js-sort" href="/#" data-nav-xhref="" title="2022-01-01 to today" data-value="year"
                           data-shortcut="">
                            год</a>
                        <a class="js-sort" href="/#" data-nav-xhref="" title="2022-10-01 to today" data-value="month"
                           data-shortcut="">
                            месяц</a>
                        <a class="js-sort" href="#" data-nav-xhref="" title="2022-10-02 to today" data-value="week"
                           data-shortcut="" aria-current="page">
                            неделя</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="container-cards">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="grid--item user-info  user-hover">
                                <div class="user-gravatar48">
                                    <a href="#">
                                        <div class="gravatar-wrapper"><img src="#" alt="аватар" width="48" height="48"
                                                                           class="bar-sm"></div>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <a href="#">Пользователь</a>
                                    <div class="-flair">
                                <span class="reputation-score"
                                      title="reputation this week: 1,020 total reputation: 758,562"
                                      dir="ltr">1,020</span>
                                    </div>
                                </div>
                                <div class="user-tags">
                                    <a href="#">тег</a>, <a href="#">тег</a>,
                                    <a href="#">тег</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="grid--item user-info  user-hover">
                                <div class="user-gravatar48">
                                    <a href="#">
                                        <div class="gravatar-wrapper"><img src="#" alt="аватар" width="48" height="48"
                                                                           class="bar-sm"></div>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <a href="#">Пользователь</a>
                                    <div class="-flair">
                                <span class="reputation-score"
                                      title="reputation this week: 1,020 total reputation: 758,562"
                                      dir="ltr">1,020</span>
                                    </div>
                                </div>
                                <div class="user-tags">
                                    <a href="#">тег</a>, <a href="#">тег</a>,
                                    <a href="#">тег</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="grid--item user-info  user-hover">
                                <div class="user-gravatar48">
                                    <a href="#">
                                        <div class="gravatar-wrapper"><img src="#" alt="аватар" width="48" height="48"
                                                                           class="bar-sm"></div>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <a href="#">Пользователь</a>
                                    <div class="-flair">
                                <span class="reputation-score"
                                      title="reputation this week: 1,020 total reputation: 758,562"
                                      dir="ltr">1,020</span>
                                    </div>
                                </div>
                                <div class="user-tags">
                                    <a href="#">тег</a>, <a href="#">тег</a>,
                                    <a href="#">тег</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="grid--item user-info  user-hover">
                                <div class="user-gravatar48">
                                    <a href="#">
                                        <div class="gravatar-wrapper"><img src="#" alt="аватар" width="48" height="48"
                                                                           class="bar-sm"></div>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <a href="#">Пользователь</a>
                                    <div class="-flair">
                                <span class="reputation-score"
                                      title="reputation this week: 1,020 total reputation: 758,562"
                                      dir="ltr">1,020</span>
                                    </div>
                                </div>
                                <div class="user-tags">
                                    <a href="#">тег</a>, <a href="#">тег</a>,
                                    <a href="#">тег</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="grid--item user-info  user-hover">
                                <div class="user-gravatar48">
                                    <a href="#">
                                        <div class="gravatar-wrapper"><img src="#" alt="аватар" width="48" height="48"
                                                                           class="bar-sm"></div>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <a href="#">Пользователь</a>
                                    <div class="-flair">
                                <span class="reputation-score"
                                      title="reputation this week: 1,020 total reputation: 758,562"
                                      dir="ltr">1,020</span>
                                    </div>
                                </div>
                                <div class="user-tags">
                                    <a href="#">тег</a>, <a href="#">тег</a>,
                                    <a href="#">тег</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="grid--item user-info  user-hover">
                                <div class="user-gravatar48">
                                    <a href="#">
                                        <div class="gravatar-wrapper"><img src="#" alt="аватар" width="48" height="48"
                                                                           class="bar-sm"></div>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <a href="#">Пользователь</a>
                                    <div class="-flair">
                                <span class="reputation-score"
                                      title="reputation this week: 1,020 total reputation: 758,562"
                                      dir="ltr">1,020</span>
                                    </div>
                                </div>
                                <div class="user-tags">
                                    <a href="#">тег</a>, <a href="#">тег</a>,
                                    <a href="#">тег</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>

</body>